body {
  background-color: white;
  font-family: Calibri, Helvetica;
  /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv9aY12qhggaIjlwkDjuUNsUQaTJoLsAyLxg&usqp=CAU");*/
  /*background-position: top center;
  background-position: 10px 20px;*/
  margin-left: auto;
  margin-right: auto;
  /*.widget2{
  	grid-area: widget2;
  	padding-left: 153px;	
  	margin-left: 200px;
  	margin-top: 100px;
  	margin-left: auto;
  	margin-right:auto ;
  	text-align: center;*/
}
body .container-1 {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header nav nav" "widget1 widget2 widget2" "main main main" "footer footer footer";
}
body .nav1 ul {
  list-style: none;
}
body .nav1 li {
  display: inline-block;
  position: relative;
  font-size: 20px;
  text-decoration-color: gray;
  text-decoration: blink;
  padding: 10px 50px;
  float: center;
  font-family: "Indie Flower", cursive;
}
body .widget1 {
  grid-area: widget1;
  padding-top: 0px;
  margin-bottom: 0px;
}
body a {
  text-decoration: none;
}
body .caja1 {
  border-style: solid;
  border-color: green;
  width: 40em;
  text-decoration: none;
}
body .caja1 h2:hover {
  color: green;
  font-size: 40px;
  text-decoration: none;
}
body .caja-productos {
  border-style: solid;
  border-color: green;
  margin-left: 200px;
}
body h2 {
  font-family: "Sigmar One", cursive;
}

.animacion {
  animation: heartBeat;
  animation-duration: 10s;
  padding: 5px;
}

.animacion2 {
  animation: backOutRight;
  animation-duration: 0.5s;
}

.titulo_productos {
  text-decoration: underline;
  padding-left: 40%;
}

.logo {
  width: 100%;
  height: 100%;
}

.header2 {
  grid-area: header;
  width: auto;
  height: 100%;
}

.nav2 {
  grid-area: nav;
  text-align: center;
  text-decoration-color: green;
  padding: 40px;
  background-color: white;
  color: green;
}

main {
  border-top: solid;
  border-color: lightgray;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.como_1 {
  margin-right: 10px;
}
.como_1 img {
  margin: 50px;
}

img .trans:hover {
  filter: opacity(0.5);
}

.como_com {
  margin: 20px;
  padding-left: 10%;
  text-align: center;
}
.como_com h2 {
  margin-bottom: 30px;
}

.secciones {
  width: 1000px;
  padding-left: 400px;
  margin: 50px 0px 100px;
}
.secciones .logo_dis {
  width: 100px;
  height: 100px;
}
.secciones p {
  font-size: 20px;
  margin-top: 50px;
}
.secciones img {
  margin-top: 50px;
  width: 800px;
  height: 800px;
}

.main1 {
  grid-area: main;
}

.img {
  background-color: crimson;
  text-align: center;
  align-content: center;
  color: white;
  border: 1px solid black;
  width: 100%;
}

.tamano_img {
  height: 200px;
  display: block;
  margin: auto;
  border-style: solid;
  margin-bottom: 50px;
}

.tamano_img:hover {
  width: 800px;
  height: 500px;
  border-color: yellow;
  border-style: double;
  background-color: green;
}

.row {
  width: auto;
  padding: 100px;
}

.row_1 {
  margin-bottom: 0px;
}

.product img {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*.item img {
				width: 200px;
				height: 200px;
			}
.item img:hover {
				width: 300px;
				height: 300px;
			}*/
.titulos2 {
  color: #ffffff;
  text-align: center;
  font-family: "Architects Daughter", cursive;
  margin-bottom: 10px;
}

.titulos3 {
  color: #ffffff;
  text-align: center;
  font-family: "Architects Daughter", cursive;
}

footer {
  width: 80%;
  margin-top: 10px;
  border-top: solid;
  border-color: green;
  height: auto;
  margin: auto;
}

.footer1 {
  grid-area: footer;
}

.mapa {
  margin-left: 100px;
  float: left;
}

.item {
  margin-left: 500px;
}

.rss {
  height: auto;
  padding-left: 20%;
}
.rss h2 {
  padding-left: 400px;
}
.rss ul {
  margin-top: 50px;
  padding-left: 400px;
}
.rss ul li {
  display: inline-block;
  margin: 0 0px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.rss ul li a {
  display: block;
  padding: 0 10px;
  background: aquamarine;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.rss ul:hover a {
  filter: blur(2px);
}
.rss ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  filter: none;
}
.rss ul li .facebook:hover {
  background-color: blue;
}
.rss ul li .instagram:hover {
  background-color: coral;
}
.rss ul li .twitter:hover {
  background-color: aqua;
}
.rss .parrafofooter {
  margin-top: 190px;
  padding-left: 300px;
  font-family: cursive;
  font-style: italic;
  font-color: gray;
}

.formulario {
  align-content: center;
  text-align: center;
  padding: 10px;
  padding: 15px;
}

form {
  background-color: lightgray;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}
form .form_cl {
  border: solid 1px #ccc;
}

a {
  text-decoration: none;
}

/*@media screen and (max-width: 768px) {
	.container-1 	{

							grid-template-areas: 
						     "header nav nav"
						    "widget1 widget1 widget1"
						    "widget2 widget2 widget2"
							 "main main main"
						    "footer footer footer";
						}
}*/
@media (min-width: 576px) {
  /*.widget2
  	{

      padding-left: 0px; 
      margin-left: 0;
      margin-top: 0; 
      text-align: center;
      margin-bottom: 0px;
  }*/
  .container-1 {
    grid-template-areas: "header nav nav" "widget1 widget1 widget1" "widget2 widget2 widget2" "main main main" "footer footer footer";
  }
}
@media only screen and (min-width: 992px) and (min-width: 1200px) {
  .container-1 {
    display: grid;
    /*margin: 20px auto;*/
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header nav nav" "widget1 widget2 widget2" "main main main" "footer footer footer";
  }

  /*.widget2{
  	grid-area: widget2;
  	/*padding-left: 153px;	
  	margin-left: 200px;
  	margin-top: 100px;
  	margin-left: auto;
  	margin-right:auto ;
  	text-align: center;


  }*/
}

/*# sourceMappingURL=estilos.css.map */
